font-color = #666

body
  box-sizing: border-box
  text-align: center

p
  color: font-color
  font-size: 1.5em

img
  width: 50%

$partial
  background: CornflowerBlue
  color: white

header
  @extend $partial
  font-size: 4em

footer
  @extend $partial
  font-size: 1.2em
